.actions > * {
    margin-left: calc(var(--spacing));
    margin-bottom: calc(var(--spacing));
}

.actions {
    white-space: nowrap;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
}

.hint {
    margin-top: calc(var(--spacing) * .5);
    margin-bottom: calc(var(--spacing));
    color: silver;
    text-align: right;
}

.img {
    margin: auto;
    display: block;
    margin-bottom: calc(var(--spacing) * 4);
}